body, h1, h2, h3, p, ul, li, p, a{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    color: #222222;
}

ul{
    list-style: none;/* tira as bolinhas das listas*/
}

a {
    text-decoration: none; /* tira ops sublinhados debiaxo do link*/
}

img {
    display: block;
    max-width: 100%;/* faz com que a imagem fique respoinsivo sempre aumentado ou diminuindo de arcordo com a tela*/
}

h2 {
    text-align: center;
    color: #2C70FF;
    font-size: 2em;
    padding-bottom: 60px;
   
}

*{
    box-sizing: border-box;
}

/*Menu*/
.menu-bg {
    background: #2C70FF;
    color: #fff;
    width: 100%;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex; /*coloca coi sa que estão em bloco um do lado do outro*/
    justify-content: space-between;  /*vai colocar os objetos na estremidade e se tiver mais de 2 vai centralizar*/
    flex-wrap: wrap;/* vai quebar quando chegar no limete do container*/
    align-items: center; /* vai centralizar todo o container*/
   
}
.menu a{
    font-size: 1.25em;
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
}
.menu-nav a {
    font-size: 1.25em;
    display: block;
    color: #fff;
    padding: 10px 20px;
    transition: 0.2s;
    border-radius: 5px;
}

.menu-nav a:hover{
    background: rgb(0, 0, 0, .1);
}

.menu-nav ul{
    display: flex;
}



/*Introducao*/

.introducao {
    border-bottom: 2px solid #2C70FF;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    padding-top: 60px;
}

.introducao_info {
    align-self: center;
    flex: 1 1 260px;
    margin: 0px 20px;
}

.introducao_info h1 {
    font-size: 2em;
    color: #2C70FF;
    padding: 0 10px;
}

.introducao_info p {
    color: #00CAF0;
    font-size: 1.5em;
    padding: 0 14px;
}

.introducao_img{
    padding: 0;
    margin-bottom: 0PX;
}

@media (max-width: 880px) {
    .introducao {
        flex: 1 1 260px;
        padding: 40px 20px;
    }

    .introducao_img {
        padding: 40px 20px;
        margin-left: 20px;
    }
}

/*Sobre*/

.sobre {
    max-width: 960px;
    border-bottom: 2px solid #2C70FF;
    margin: 40px auto;
}



.sobre_flex {
    max-width: 960px;
    display: flex;
    margin: 0 auto;
    padding-left: 10px;
    flex-wrap: wrap;
    
}
.sobre_flex img{
    flex: 1;    
    padding: 5px;
    margin: 0px 100px 60px 0px;
    border: 5px solid  #2C70FF;
    border-radius: 90%;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    
}

.sobre_flex img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border: 2px solid  #2C70FF;
    cursor: pointer;
}


.sobre_flex p{
    font-size: 1.125em;
    flex: 1 1 260px;
    padding: 40px 10px 0px 10px;
}

@media (max-width: 880px) {
    .sobre_flex img{
        max-width: 300px;
        max-height: 300px;
        margin: 20px auto;
    }
    .sobre_flex p{
        margin-bottom: 40px;
        padding: 20px 20px 0px 20px;
    }
}

/*Skills*/
.Skkills  {
    max-width: 960px;
    margin: 0px auto;
    display: grid;
}

.skills_img {
    display: flex;
    flex: 1 1 260px;
    flex-wrap: wrap;
    align-items: center;
    align-self: flex-end;
}

.skills_img  a{
    display: block;
    min-width: 60px;
    max-width: 150px;
    background: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 112, 255, 0.25);
}

.skills_img a { /* faz a imagem aumenta*/
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;   
}

.skills_img a:hover {/* faz a imagem aumenta*/
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    cursor: pointer;
    box-shadow: 5px 5px 15px 0px rgba(44, 112, 255, 0.5);
  }
.skills_img li {
    margin: 0 auto;
    flex-wrap: wrap;
}


.skills_img p {
    text-align: center;
    font-weight: bold;
    color: black;
    padding-bottom: 10px;
}


@media (max-width: 700px) {
    .skills_img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

    .skills_img a{
        margin-bottom: 15px;
        padding: 20px 20px;
    }


}

/*Contato*/

.contato {
    background: #F7F7F7;
    margin-top: 60px;
    
}

.contato h2 {
    padding-top: 40px;
}

.contato_flex {
    max-width: 960px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

.contato_item {
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    margin-bottom: 40px;
}

.contato_itemul li {
    justify-content: space-between;
    flex-wrap: wrap;
}

.contato_item a {
    padding-left: 10px;
    align-self: center;
    cursor: pointer;
}

.contato_item img { /* faz a imagem aumenta*/
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;  
}

.contato_item img:hover {/* faz a imagem aumenta*/
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    cursor: pointer;
  }

  .contato_item a:hover{
      color: #2C70FF;
  }

.item_3 {
    margin-left: 75px;
}

.item_4 {
    margin-right: 75px;
}

@media (max-width: 980px) {
    .contato_flex{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contato_flex img{
        min-width: 58px;
    }
    .contato h2{
        padding-bottom: 30px;
    }
    .contato_item{
        margin: 0px;
        padding: 10px;
    }
    .contato_item {
        max-width: 200px;
        padding-right: 10px;
    }
}

@media (max-width: 610px){
    .contato_flex{
        display: grid;
        grid-template-columns: 1fr;
    }
}



.frase_motivacional {
    max-width: 500px;
    padding: 40px 0px;
    margin: 0 auto;
    text-align: center;
    flex: 1 1 260px;
}

.frase_motivacional p{
    font-size: 1.125em;
}

.frase_motivacional cite{
    font-size: 1.125em;
    font-weight: bold;
}


footer {
    background: #2C70FF;
    padding: 20px;
    text-align: center;
    color: #fff;
}

