body, h1, h2, h3, p, ul, li, p, a{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    color: #222222;
}

ul{
    list-style: none;/* tira as bolinhas das listas*/
}

a {
    text-decoration: none; /* tira ops sublinhados debiaxo do link*/
}

img {
    display: block;
    max-width: 100%;/* faz com que a imagem fique respoinsivo sempre aumentado ou diminuindo de arcordo com a tela*/
}

h2 {
    text-align: center;
    color: #2C70FF;
    font-size: 2em;
    padding-bottom: 60px;
}

*{
    box-sizing: border-box;
}
/*Menu*/
.menu-bg {
    background: #2C70FF;
    color: #fff;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex; /*coloca coi sa que estão em bloco um do lado do outro*/
    justify-content: space-between;  /*vai colocar os objetos na estremidade e se tiver mais de 2 vai centralizar*/
    flex-wrap: wrap;/* vai quebar quando chegar no limete do container*/
    align-items: center; /* vai centralizar todo o container*/
}
.menu a{
    font-size: 1.25em;
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
}
.menu-nav a {
    font-size: 1.25em;
    display: block;
    color: #fff;
    padding: 10px 20px;
}

.menu-nav ul{
    display: flex;
}

/*Introducao*/

.introducao {
    border-bottom: 2px solid #2C70FF;
    max-width: 960px;
    margin: 0 auto;
    padding: 100px 10px;
    display: flex;
    flex-wrap: wrap;
}

.introducao_info {
    align-self: center;
    flex: 1 1 260px;
    margin: 0 20px;
}

.introducao_info h1 {
    font-size: 2em;
    color: #2C70FF;
    padding: 0 10px;
}

.introducao_info p {
    color: #00CAF0;
    font-size: 1.5em;
    padding: 0 14px;
}

@media (max-width: 880px) {
    .introducao {
        flex: 1 1 260px;
        padding: 40px 20px;
    }

    .introducao_img {
        padding: 40px 20px;
    }
}

/*Sobre*/

.sobre {
    max-width: 960px;
    border-bottom: 2px solid #2C70FF;
    margin: 40px auto;
}



.sobre_flex {
    max-width: 960px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}
.sobre_flex img{
    flex: 1;    
    padding: 5px;
    margin: 0px 100px 60px 10px;
    border: 5px solid  #2C70FF;
    border-radius: 90%;
}

.sobre_flex p{
    font-size: 1.125em;
    flex: 1 1 260px;
    padding: 40px 10px 0px 10px;
}

@media (max-width: 880px) {
    .sobre_flex img{
        margin: 0 20px;
    }
    .sobre_flex p{
        margin-bottom: 40px;
        padding: 20px 20px 0px 20px;
    }
}

/*Skills*/
.Skkills  {
    max-width: 960px;
    margin: 0px auto;
}

.skills_img {
    display: flex;
    flex: 1 1 260px;
    flex-wrap: wrap;
}

.skills_img img{
    margin: 0px;
}

.skills_img li {
    margin: 0 auto;
    flex-wrap: wrap;
}

.skills_img p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

/*Contato*/

.contato {
    background: #F7F7F7;
    margin-top: 60px;
}

.contato h2 {
    padding-top: 40px;
}

.contato_flex {
    max-width: 960px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

.contato_item {
    display: flex;
    padding: 30px 30px;
    margin: 0 auto;
}

.contato_itemul li {
    justify-content: space-between;
    flex-wrap: wrap;
}

.contato_item a {
    padding-left: 10px;
    align-self: center;
}

.item_3 {
    margin: 0 45px;
}

.item_4 {
    margin-right: 45px;
}

.frase_motivacional {
    max-width: 500px;
    padding: 40px 0px;
    margin: 0 auto;
    text-align: center;
    flex: 1 1 260px;
}

.frase_motivacional p{
    font-size: 1.125em;
}

.frase_motivacional cite{
    font-size: 1.125em;
    font-weight: bold;
}


footer {
    background: #2C70FF;
    padding: 20px;
    text-align: center;
    color: #fff;
}